
.button-main-modal {
    width: 100%;
    border: 0px;
    padding: 12px;
    border-radius: 5px;
    background-color: #4CAF50; /* Verde Aceptar */
    color: white;
    margin-right: 2rem;
    transition: background-color 0.3s ease;
}

.button-main-modal:hover {
    cursor: pointer;
    background-color: #43a047; /* Verde más oscuro */
}

.button-secondary-modal {
    width: 100%;
    border: 0px;
    padding: 12px;
    border-radius: 5px;
    background-color: #F44336; /* Rojo Rechazar */
    color: white;
    transition: background-color 0.3s ease;
}

.button-secondary-modal:hover {
    cursor: pointer;
    background-color: #d32f2f; /* Rojo más oscuro */
}


