tr:nth-child(even) {
  background-color: #f8f8f8 !important;
}

.text-responsive {
  overflow: hidden;
  /* Oculta el desbordamiento */
  text-overflow: ellipsis;
  /* Muestra puntos suspensivos si el texto es muy largo */
  white-space: nowrap;
  /* Mantiene el texto en una sola línea */
  padding: 5px 10px;
  /* Añade un poco de padding para que el texto no esté pegado a los bordes */
  display: inline-block;
  /* Asegura que el tamaño del div se ajuste al contenido */
  max-width: 100%;
  /* Asegura que el div no exceda el ancho de su contenedor padre */
  box-sizing: border-box;
  /* Incluye padding y border en el cálculo del ancho total */
}

.table-border {
  border: 1px solid rgba(175, 176, 181, 0.29) !important;
}

.mat-column-estado_proceso {
  max-width: 100px;
}

.highlight-last-row {
  tr:last-child {
    td {
      background-color: #f1ebf5 !important;
    }

    td:not(:first-child) {
      font-weight: bold;
    }
  }
}

.highlight-last-col {
  tr {
    td:last-child {
      font-weight: bold;
    }
  }
}

.highlight-last-col-action {
  tr {
    td:nth-last-child(2) {
      font-weight: bold;
    }
  }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive>.table {
    margin-bottom: 0;
    white-space: nowrap;
}

.table-container {
    position: relative;
    min-height: 200px;
    max-height: 450px;
    overflow: auto;
}

/*Loading tabla*/
.loading-shade {
    position: absolute;
    // top: 40px;
    // left: 0;
    // bottom: 0;
    // right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100%);
    width: 100%;
}

.table-border {
  border: 1px solid rgba(175, 176, 181, .29) !important;
}

.header-table {
    background-color: #F1EBF5 !important;
    color: #2F1642 !important;
}


.element-row {
    background-color: white !important;
    color: #404040 !important;
}